<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
<br>
<br>


<div class='col-md-7'>
    <% @posts.each do |post| %>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= post.author %></div>
      <div class="card-body text-dark">
        <p class="card-text"><%= post.content %></p>
        <%= link_to 'Edit', edit_post_path(post) %>
      </div>
    </div>
    <% end %>
  </div>
</div>

